<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="admin-menu" id="admin-menu">
		<table>
			<tr>
				<td><input type="button" value="Manage Students"
					onclick="window.location.href='/admin/studentlist'; return false"
					class="button-menu"/> 
					<input type="button" value="Manage Lecturers"
					onclick="window.location.href='/admin/lecturerlist'; return false"
					class="button-menu"/> 
					<input type="button" value="Manage Courses"
					onclick="window.location.href='/admin/courselist'; return false"
					class="button-menu"/> 
					<input type="button" value="Manage Enrolment"
					onclick="window.location.href='/admin/enrollmentlist'; return false"
					class="button-menu"/>
					</td>
			</tr>
		</table>
	</div>
	
	<div th:fragment="lecturer-menu" id="lecturer-menu">
		<table>
			<tr>
				<td><input type="button" value="View Courses Taught"
					onclick="window.location.href='/lecturer/Courses'; return false"
					class="button-menu"/> 
					<input type="button" value="View Course Enrolment"
					onclick="window.location.href='/lecturer/CourseEnrolment'; return false"
					class="button-menu"/> 
					<input type="button" value="Grade a Course"
					onclick="window.location.href='/lecturer/GradeCourse'; return false"
					class="button-menu"/> 
					<input type="button" value="View Student Performance"
					onclick="window.location.href='/lecturer/StudentPerformance'; return false"
					class="button-menu"/>
					</td>
			</tr>
		</table>
	</div>
	
		<div th:fragment="student-menu" id="student-menu">
		<table>
			<tr>
				<td><input type="button" value="Grades and GPA"
					onclick="window.location.href='/student/GradesGPA'; return false"
					class="button-menu"/> 
					<input type="button" value="View Courses"
					onclick="window.location.href='/student/list'; return false"
					class="button-menu"/> 
					<input type="button" value="Enrol for a Course"
					onclick="window.location.href='/student/enrolCourse'; return false"
					class="button-menu"/>
					</td>
			</tr>
		</table>
	</div>
	
	<div th:fragment="footer">
		<footer id="fh5co-footer" role="contentinfo">
			<div>
					
						<small>Copyright © SA52 Team 6. All rights reserved.</small>
					
			</div>
		</footer>
	</div>
	
	<div th:fragment="heading">
		<img src="/img/Banner.png" width="100%" height="100%">
	</div>


</div>
</body>
</html>