<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="menu" id="menu">
		<table>
			<tr>
				<td>
					<input type="button" value="Grades and GPA"
					onclick="window.location.href='/student/gradesGPA'; return false"
					class="button" />
					<input type="button" value="View Courses"
					onclick="window.location.href='/student/list'; return false"
					class="button" /> 
					<input type="button" value="Enrol for a Course"
					onclick="window.location.href='/student/enrolCourse'; return false"
					class="button" /> 
				</td>
			</tr>
		</table>
	</div>
</body>
</html>