
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Lecturer</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div class = "container">
	    <div id="top_grid1">Top Grid Cell 1</div>
	    <div id="top_grid2">Top Grid Cell 2</div>
	    <div id="top_grid3">Top Grid Cell 3</div>
	    <div id="top_grid4">Top Grid Cell 4</div>
	    <nav>
	        <div th:replace="fragments/general.html :: menu"></div>
	    </nav>
	    <main>
		<h3>Edit Lecturer</h3>
			<form action="" th:object="${lecturer}" th:action="@{/admin/editlecturer/save}" method="get">
			        <fieldset>
					     <input type="hidden" th:field="*{lecturerId}">  
					</fieldset>
					<fieldset>
					     <input type="hidden" th:field="*{email}">  
					</fieldset>
					<fieldset>
					     <input type="hidden" th:field="*{password}">  
					</fieldset>
					<fieldset>
						First Name: <input type="text" th:field="*{firstName}">
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					</fieldset>
					<fieldset>
						Last Name: <input type="text" th:field="*{lastName}">
						<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
					</fieldset>
					<fieldset>
						Faculty:
						<select id="facultyDropdown" name="faculty" th:field = "*{faculty}">
						<option th:value="BUSINESS" th:utext="BUSINESS"/>
						<option th:value="COMPUTING" th:utext="COMPUTING"/>
						<option th:value="ENGINEERING" th:utext="ENGINEERING"/>
						<option th:value="LAW" th:utext="LAW"/>
						<option th:value="MEDICINE" th:utext="MEDICINE"/>
						</select>	
					</fieldset>
					<fieldset>
						Personal Email <input type="text" th:field="*{personalEmail}">
						<p th:if="${#fields.hasErrors('personalEmail')}" th:errors="*{personalEmail}"></p>
					</fieldset>
					<fieldset>
						<input type="submit" value="Save"/>	
						<input type="reset" value="Reset"/>
					</fieldset>
			</form>
    	</main>
    	<footer>Footer</footer>
  </div>
</body>
</html>