<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Lecturer</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <div class = "container">
    <div id="top_grid1">Top Grid Cell 1</div>
    <div id="top_grid2">Top Grid Cell 2</div>
    <div id="top_grid3">Top Grid Cell 3</div>
    <div id="top_grid4">Top Grid Cell 4</div>
    <nav>
    	<div th:replace="fragments/general.html :: menu"></div>
    </nav>
    <main>
		<h1 th:text="${course.courseName}"></h1>
		
		<h3>Which student do you want to enrol?</h3>
<!-- 		<h2 th:text="${student}"></h2> -->
<!-- 		<h2 th:text="${course}"></h2> -->
<!-- 		<form action="#" th:object="${studentcourse}" th:action="@{/admin/enrolstudent}" method="post"> -->
<!-- 			        <fieldset> -->
<!-- 					     <input type="text" th:id="*{course}" th:name="*{course}" th:value="${course.getCourseId()}">   -->
<!-- 					</fieldset> -->
<!-- 					<fieldset> -->
<!-- 					     <input type="hidden" th:id="*{student}" th:name="*{student}" th:value="${student.getStudentId()}">   -->
<!-- 					</fieldset> -->
<!-- 					<fieldset> -->
<!-- 						<input type="submit" value="Submit"/>	 -->
<!-- 						<input type="reset" value="Reset"/> -->
<!-- 					</fieldset> -->
<!-- 		</form> -->
	    <table th:if="${not #lists.isEmpty(notEnrolledStudents)}" class="table">
			<tr >
				<th>Matriculation Number</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Matriculation Date</th>
				<th></th>
			</tr>
			<tr th:each="student:${notEnrolledStudents}" >
			
				<td th:text=${student.matricNo}>matricNo</td>
				<td th:text="${student.firstName}">firstName</td>
				<td th:text=${student.lastName}>lastName</td>
				<td th:text="${#temporals.format(student.matrDate, 'dd-MM-yyyy')}">matrDate</td>
				<td>
						<a th:href="@{/admin/enrolstudent/{Id}/{Id2}/{Id3}(Id=${student.matricNo}, Id2=${course.courseName}, Id3 = ${id})}"> 
        					<button type="button">Enrol</button> 
   						</a>
				</td>
			
			</tr>
		</table>
			<div th:if = "${totalPages > 1}">
				<div>
					<div>
						Total Rows: [[${totalItems}]]
					</div>
					<div>
						<span th:each="i: ${#numbers.sequence(1, totalPages)}">
							<a th:if="${currentPage != i}" th:href="@{'/admin/addenrolment/' + ${id} + '/' + ${i}}">[[${i}]]</a>
							<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
						</span>
					</div>
				</div>
			</div>				
	</main>
	<footer>Footer</footer>
  </div>
</body>
</html>