<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
 }
</style>
<meta charset="ISO-8859-1">
<title>View Courses Taught</title>
</head>
<body>
	<h1>View Courses Taught</h1>
	<a href ="logout"><button>Logout</button></a>
	<br>
<!-- 	<table id="listCourses" th:if="${not #lists.isEmpty(courses)}">
 -->	<table id="courses">
	<tr>
			<th>Course Name</th>
			<th>Credits</th>
			<th>Size</th>
			<th>Students Enrolled</th>
	</tr>
	 <tr th:each="course : ${courses}" class="table-row">
			<td th:text=${course.key.courseName}>Course Name</td>
			<td th:text=${course.key.credits}>Credits</td>
			<td th:text=${course.key.size}>Size</td>
			<td th:text=${course.value}>Students Enrolled</td>	
	</tr>
	</table>
<div th:if = "${totalPages > 1}">
	<div>
		<div>
			Total Records: [[${totalItems}]]
		</div>	
		<div>
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${currentPage != i}" th:href="@{'/lecturer/Courses/' + ${i}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
			</span>
		</div>	
	</div>
</div>
</body>
</html>