<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/style.css}" />
<title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form action="" th:object="${student}" th:action="@{/admin/save}" method="get">
        <fieldset>
		     <input type="hidden" th:field="*{studentId}">  
		</fieldset>
		<fieldset>
		     <input type="hidden" th:field="*{matricNo}">  
		</fieldset>
		<fieldset>
			First Name: <input type="text" th:field="*{firstName}">
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</fieldset>
		<fieldset>
			Last Name: <input type="text" th:field="*{lastName}">
			<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
		</fieldset>
		<fieldset>
			Matriculation Date: <input type="text" th:field="*{matrDate}">
			<p th:if="${#fields.hasErrors('matrDate')}" th:errors="*{matrDate}"></p>
		</fieldset>
		<fieldset>
			Personal Email <input type="text" th:field="*{personEmail}">
			<p th:if="${#fields.hasErrors('personEmail')}" th:errors="*{personEmail}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save"/>	
			<input type="reset" value="Reset"/>
		</fieldset>
</form>
</body>
</html>