<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" 
          th:href="@{/css/style.css}" />
<title>Edit Lecturer</title>
</head>
<body>
<h1>Edit Student</h1>
<form action="" th:object="${lecturer}" th:action="@{/admin/saveLecturer}" method="get">
        <fieldset>
		     <input type="hidden" th:field="*{lecturerId}">  
		</fieldset>
		<fieldset>
		     <input type="hidden" th:field="*{email}">  
		</fieldset>
		<fieldset>
		     <input type="hidden" th:field="*{password}">  
		</fieldset>
		<fieldset>
			First Name: <input type="text" th:field="*{firstName}">
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</fieldset>
		<fieldset>
			Last Name: <input type="text" th:field="*{lastName}">
			<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
		</fieldset>
		<fieldset>
			Faculty:
			<select id="facultyDropdown" name="faculty" th:field = "*{faculty}">
			<option th:value="BUSINESS" th:utext="BUSINESS"/>
			<option th:value="COMPUTING" th:utext="COMPUTING"/>
			<option th:value="ENGINEERING" th:utext="ENGINEERING"/>
			<option th:value="LAW" th:utext="LAW"/>
			<option th:value="MEDICINE" th:utext="MEDICINE"/>
			</select>	
		</fieldset>
		<fieldset>
			Personal Email <input type="text" th:field="*{personalEmail}">
			<p th:if="${#fields.hasErrors('personalEmail')}" th:errors="*{personalEmail}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save"/>	
			<input type="reset" value="Reset"/>
		</fieldset>
</form>
</body>
</html>