<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Course Enrolment</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body onload="myFunction()">
	<div class = "container">
    <heading><div th:replace="fragments/general::heading"></div></heading>
    <div id="top_grid1"><b>Welcome, </b></div>
    <div id="top_grid2"></div>
    <div id="top_grid3"></div>
    <div id="top_grid4"><input type="button" value="Logout"
					onclick="window.location.href='/lecturer/logout'; return false"
					class="button-logout" />
	</div>
    <nav>
    	<div th:replace="fragments/general.html :: lecturer-menu"></div>
    </nav>
    <page-title>
    	<div class="page-title"> View Course Enrolment</div>
    </page-title>
    <main>
	<div class="year-dropdown">
	<form>
		<label for="year">Year: </label>
		<select id='date-dropdown'>
  		</select>
  		<script>
    		let dateDropdown = document.getElementById('date-dropdown');

    		let currentYear = new Date().getFullYear();
    		let earliestYear = 2018;

    		while (currentYear >= earliestYear) {
      			let dateOption = document.createElement('option');
      			dateOption.text = currentYear;
      			dateOption.value = currentYear;
      			dateDropdown.add(dateOption);
      			currentYear -= 1;
      		}
  		</script>
	</form>
	</div>
	<br>
	<div class="course-dropdown">
	<select th:field="${courses}">
		<option th:each="course:${courses}" th:value="${course}" th:text="${course.getCourseName()}"/>
	</select>	
	</div>
	<br>
	
	<input type="text" id="input" onkeyup="" placeholder="Search By Student ID/Student Name" title="search">
	<br>
	<a href="" th:href="@{/lecturer/GradeCourse}"><button class="button">Grade this course</button></a>
	<br>
	<p th:text="'Total Records: ' + ${students.size()}">Total Records</p>
	
	
	<table id="students" class="table">
	<tr>
   		<th>Student ID</th>
   		<th>First Name</th>
   		<th>Last Name</th>
   		<th>Student Email</th>
   		<th>Student Performance</th>
 	</tr>
 	<tr th:each="student: ${students}">
   		<td th:text="${student.studentId}">Student Id</td>
   		<td th:text="${student.firstName}">First Name</td>
   		<td th:text="${student.lastName}">Last Name</td>
   		<td th:text="${student.email}">Student Email</td>
			<td>
   				<a href="" th:href="@{/lecturer/StudentPerformance/detail/}+${student.studentId}"><button class="button" >Select</button></a>
   			</td>
 	</tr>
	</table>
		<div th:if = "${totalPages > 1}">
	<div>
		<div>
			Total Rows: [[${totalItems}]]
		</div>	
		<div>
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${currentPage != i}" th:href="@{'/lecturer/CourseEnrolment/' + ${i}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
			</span>
		</div>	
	</div>
</div>
   </main>

    <footer><div th:replace="fragments/general::footer"></div></footer>
</body>
</html>