<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Course Enrolment</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class = "container">
    <heading><div th:replace="fragments/general::heading"></div></heading>
    <div id="top_grid1">
 		<b><span th:text= "'Welcome, '+${session.usession.firstName} + ' '+ ${session.usession.lastName} "></span></b>
 	</div>
    <div id="top_grid2"></div>
    <div id="top_grid3"></div>
    <div id="top_grid4"><input type="button" value="Logout"
					onclick="window.location.href='/lecturer/logout'; return false"
					class="button-logout" />
	</div>
    <nav>
    	<div th:replace="fragments/general.html :: lecturer-menu"></div>
    </nav>
	<page-title>
    	<div class="page-title">View Course Enrolment</div>
    </page-title>
<main>
	<div class="course-dropdown">
	<select id="courseNameDropdown" class="example">
	<option th:each="course, stat : ${courses}" th:value="${stat.index}" th:text="${course.courseName}"></option>
	</select>
	&nbsp;&nbsp;
	<a id = "showenrolledstudents" th:href="@{/lecturer/CourseEnrolment/{Id}/1 (Id=${id})}"><button class="button">Show Enrolled Students</button></a>

	<script th:inline="javascript">var sel = document.getElementById('courseNameDropdown');
	sel.onchange=function(){
		document.getElementById("showenrolledstudents").href="/lecturer/CourseEnrolment/" + this.value + "/1";
	}
	var id = /*[[${id}]]*/
		document.getElementById("courseNameDropdown").selectedIndex = id; 
	
	
	</script>
	<a href="" th:href="@{/lecturer/GradeCourse/{Id}/1 (Id=${id})}"><button class="button" th:if="${not #lists.isEmpty(studentslist)}">Grade this course</button></a>
	</div>
	<br>
	
	<h4>Enroled Students for Course: <span th:text="${selectedCourse.courseName}"></span></h4>
	<h4 th:if="${#lists.isEmpty(studentslist)}">No records found</h4>		
	<table class="table" id="students"  th:if="${not #lists.isEmpty(studentslist)}">
	<tr>
   		<th>Matric No</th>
   		<th>First Name</th>
   		<th>Last Name</th>
   		<th>Student Email</th>
   		<th>Student Performance</th>
 	</tr>
 	<tr th:each="student: ${studentslist}">
   		<td th:text="${student.getStudent().getMatricNo()}">Matric No</td>
   		<td th:text="${student.getStudent().getFirstName()}">First Name</td>
   		<td th:text="${student.getStudent().getLastName()}">Last Name</td>
   		<td th:text="${student.getStudent().getEmail()}">Student Email</td>
			<td>
   				<a href="" th:if="${student.getGrade() != null}" th:href="@{/lecturer/StudentPerformance/detail/}+${student.student.studentId}"><button>Select</button></a>
   				 <span th:unless="${student.getGrade() !=null}">No Records</span>
   			</td>
 	</tr>
	</table>
		<div th:if = "${totalPages > 1}">
	<div>
		<div>
			Total Records: [[${totalItems}]]
		</div>	
		<div>
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${currentPage != i}" th:href="@{'/lecturer/CourseEnrolment/{Id}/'+ ${i} (Id=${id})}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
			</span>
		</div>	
	</div>
</div>
</main>
</div>
    <footer><div th:replace="fragments/general::footer"></div></footer>
</body>
</html>