<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Enrol Course</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
 
  <div class = "container">
    <heading><div th:replace="fragments/general::heading"></div></heading>
    <div id="top_grid1">
 		<b><p th:text= "'Welcome, '+${session.usession.firstName} + ' '+ ${session.usession.lastName} "></p></b>
 	</div>
    <div id="top_grid2"></div>
    <div id="top_grid3"></div>
    <div id="top_grid4"><input type="button" value="Logout"
					onclick="window.location.href='/student/logout'; return false"
					class="button-logout" />
	</div>
    <nav>
    	<div th:replace="fragments/general.html :: student-menu"></div>
    </nav>
    <page-title>
    	<div class="page-title"> Enrol for Course</div>
    </page-title>
    <main>
  	<div>Select Faculty <select id="facultyDropdown" class="example">
  <option th:each="faculty, stat : ${facultyList}" th:value="${stat.index}" th:text="${faculty.toString()}"></option>
  </select>
  &nbsp;&nbsp;
  <a id = "showfaculty" th:href="@{/student/enrolCourse/{FacultyId}/1 (FacultyId=${facultyId})}"><button class="button">Show Courses</button></a>
  
  <script th:inline="javascript"> var sel= document.getElementById('facultyDropdown');
  sel.onchange=function(){
	  document.getElementById("showfaculty").href="/student/enrolCourse/" + this.value + "/1";
  }
  var facultyId= /*[[${facultyId}]]*/
  		document.getElementById("facultyDropdown").selectedIndex = facultyId;
  </script>
  </div>
  <br>
  <h5 id = "noRecord" th:if="${#lists.isEmpty(notEnrolledCourses)}">No courses found</h5>
<form action="" th:object="${selectCourse}" th:action="@{/student/submitEnrol}" method="post">
<table id="recTable" class="table" th:if="${not #lists.isEmpty(notEnrolledCourses)}">
 <tr>
   <th>Course Name</th>
   <th>Lecture Name</th>
   <th>Credits</th>
   <th>Course Description</th>
   <th>Enroll</th>
 </tr>
 <tr th:each="course: ${notEnrolledCourses}">
   <td th:text="${course.courseName}">Course NAME</td>
   <td th:text="${course.lecturer.firstName} +' '+ ${course.lecturer.lastName}  ">Lecture Name</td>
   <td th:text="${course.credits}">Credits</td>
   <td th:text="${course.description}">Course Description</td>
   <td><input type = "checkbox" class="checkboxes" th:field="*{course}" th:value="${course.courseId}"/></td>
 </tr>
</table>
<fieldset>
<div th:if="${not #lists.isEmpty(notEnrolledCourses)}">
<input type="submit" class="button" value ="Save" />
&nbsp; &nbsp; 
<input type="reset" class="button" value="Reset" />
</div>
</fieldset>
</form>

<div th:if = "${totalPages > 1}">
	<div>
		<div>
			Total Records: [[${totalItems}]]
		</div>	
		<div>
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${currentPage != i}" th:href="@{'/student/enrolCourse/{FacultyId}/' + ${i} (FacultyId=${facultyId})}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
			</span>
		</div>	
	</div>
</div>
 </main>
	<footer><div th:replace="fragments/general::footer"></div></footer>
</div>
<script>
$(document).ready(function(){
	
	// disable the submit and reset button
	$('input[type="submit"]').prop('disabled',true);
	 $('input[type="reset"]').prop('disabled',true);
	 
	 // update the Show Courses URL link
	facultyId = $('#facultyDropdown').val();
	 document.getElementById("showfaculty").href="/student/enrolCourse/" + facultyId + "/1";
	 
	
	// toggle between disable submit and reset button if at least one of the checkbox is checked or unchecked
	$('.checkboxes').change(function(){
		if($('.checkboxes:checkbox:checked').length >0){
			 $('input[type="submit"]').prop('disabled',false);
			 $('input[type="reset"]').prop('disabled',false);
		}
		else{
			$('input[type="submit"]').prop('disabled',true);
			 $('input[type="reset"]').prop('disabled',true);
		}
	});
	
	// disable the submit and reset button if no checkbox is checked
	$('input[type="reset"]').click(function(){
		if($('.checkboxes:checkbox:checked').length <0){
			 $('input[type="submit"]').prop('disabled',true);
			 $('input[type="reset"]').prop('disabled',true);
		}
	})
	
});

// $(document).ready(function(){
// 	$("select").change(function(){
// 		var selectedFaculty = $(this).val();
// 		var stId = $("#stId").text();
// 		 $.ajax({
// 		        url: '/api/student/getFaculty',
// 		        type: 'POST',
// 		        contentType: 'application/json',
// 		        data: JSON.stringify( { "id": 1, "faculty":"MEDICINE", "pageNo":1 } ),
// 		        success: function(data) {
// 		        	$("#recTable tr").not(':first').remove();
		        	
// 		        	$.each(data.enrolCourses, (i, enrolcourse) =>{
// 		        		let enrolcourseRow = '<tr><td>'  + enrolcourse.courseName + '</td>' +
// 		        								  '<td>' + enrolcourse.lecturer.firstName + ' ' + enrolcourse.lecturer.lastName+ '</td>' +
// 		        								  '<td>' + enrolcourse.credits + '</td>'
// 		        								  '<td>' + enrolcourse.description + '</td>'
// 		        								  '<td><input type = "checkbox" value="'+enrolcourse.courseId+ '" id="course'+ i +'" name= "course">'+
// 		        								  '<input type="hidden" name="_course" value="on">'+ '</td></tr>'
		        								  
// 		        		$("#recTable tr").append(enrolcourseRow);						  
		        		                         
// 		        	});
// 					console.log(data);
// 				}
// 		    });
// 	})
	
// });

</script>
</body>
</html>