<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lecturer Form</title>
</head>
<body>

	<h1>Lecturer Form</h1>
	<form action="#" th:object="${lecturer}" th:action="@{/admin/saveLecturer}"
		method="post">
		<fieldset>
			First Name <input type="text" th:field="*{firstName}">
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</fieldset>
		<fieldset>
			Last Name <input type="text" th:field="*{lastName}">
			<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
		</fieldset>
		<fieldset>
			Personal Email <input type="text" th:field="*{personalEmail}">
			<p th:if="${#fields.hasErrors('personalEmail')}" th:errors="*{personalEmail}"></p>
		</fieldset>
		<fieldset>
			Faculty <input type="text" th:field="*{faculty}">
			<p th:if="${#fields.hasErrors('faculty')}" th:errors="*{faculty}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save"/>
			<input type="reset" value="Cancel"/>
		</fieldset>
	</form>

	<br />

</body>
</html>
