<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Detailed Student Performance</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class = "container">
    <heading><div th:replace="fragments/general::heading"></div></heading>
	<div id="top_grid1">
 		<b><span th:text= "'Welcome, '+${session.usession.firstName} + ' '+ ${session.usession.lastName} "></span></b>
 	</div>      <div id="top_grid2"></div>
    <div id="top_grid3"></div>
    <div id="top_grid4"><input type="button" value="Logout"
					onclick="window.location.href='/lecturer/logout'; return false"
					class="button-logout" />
	</div>
    <nav>
    	<div th:replace="fragments/general.html :: lecturer-menu"></div>
    </nav>
    <page-title>
    	<div class="page-title"> View Detailed Student Performance</div>
    </page-title>
    <main>
<div style="display:none;" id="stId" th:text="${student.studentId}"></div>
	<div class="year-dropdown">
	<form>
		<label for="year">Year: </label>
		 <select th:field="${ay}">
  			<option th:each="selectOption : ${ay}" th:value="${selectOption}"
 				 th:text="${selectOption}"> selectedOption
  			</option>
 		  </select> 		
	</form>
	</div>
	<br>
	<h4><p th:text="'Matric No: ' + ${student.matricNo}"></p></h4>
	<h4><p th:text="'Student Name: ' + ${studentName}"></p></h4>
	<br>
	<table id="recTable" class="table">
		<tr>
			<th>Course Name</th>
			<th>Credits</th>
			<th>Grade</th>
		</tr>
		<tr id ="editable" th:each="gc: ${gradedCourse}">
	   		<td th:text="${gc.course.courseName}">Course Name</td>
	   		<td th:text="${gc.course.credits}  ">Credits</td>
	   		<td th:text="${gc.grade}">Grade</td>
	 	</tr>
	</table>
	<br>
	<table class="table2" id="grades" style="width:25%">
	<tr>
		<td th:text="'AY Credits'"></td>
		<td id="ayCredits" th:text=${ayCredits}>AY Credits</td>
	</tr>
	<tr>
		<td th:text="'AY GPA'"></td>
		<td id="ayGPA" th:text=${ayGPA}>AY GPA</td>
	</tr>
	<tr>
		<td th:text="'Cumulative Credits'"></td>
		<td id="cuCredits" th:text=${cuCredits}>Cumulative Credits</td>
	</tr>
	<tr>
		<td th:text="'Cumulative GPA'"></td>
		<td id="cuGPA" th:text=${cuGPA}>Cumulative GPA</td>
	</tr>
	</table>
      </main>
      <footer><div th:replace="fragments/general::footer"></div></footer>
          </div>
<script>
$(document).ready(function(){
	$("select").change(function(){
	    var selectedYear = $(this).val();
	    var stId = $("#stId").text();
	    $.ajax({
			type: "Get",
			url: "/api/student/"+stId+"/"+selectedYear,
			success: function(data) {
				$('#recTable tr').not(':first').remove();
				var html = '';
				for(var i=0; i<data.gradedCourse.length; i++)
					{
					 html += '<tr><td>' + data.gradedCourse[i].courseName + '</td><td>' +data.gradedCourse[i].credits+'</td><td>'
					         + data.gradedCourse[i].grade + "</td></tr>";
					          
					}
				$('#recTable tr').first().after(html);
				
				var ayCredit = data.ayCredits;
				var cuCredit = data.cuCredits;
				var ayGPA = data.ayGPA;
				var cuGPA = data.cuGPA;
				
				$('#ayCredits').html(ayCredit);
				$('#cuCredits').html(cuCredit);
				$('#ayGPA').html(ayGPA);
				$('#cuGPA').html(cuGPA);

			}
		});
	       
	});
});
  </script>
</body>
</html>