<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

#input {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
</style>
<meta charset="ISO-8859-1">
<title>View Student Performance</title>
</head>
<body>
	<h1>View Student Performance</h1>
	<div class="year-dropdown">
	<form>
		<label for="year">Year: </label>
		<select id='date-dropdown'>
  		</select>
  		<script>
    		let dateDropdown = document.getElementById('date-dropdown');

    		let currentYear = new Date().getFullYear();
    		let earliestYear = 2018;

    		while (currentYear >= earliestYear) {
      			let dateOption = document.createElement('option');
      			dateOption.text = currentYear;
      			dateOption.value = currentYear;
      			dateDropdown.add(dateOption);
      			currentYear -= 1;
      		}
  		</script>
	</form>
	</div>
	<br>
	<div class="course-dropdown">
	<select id="courseNameDropdown" name="courseName">
		<option th:each="course:${courses}" th:value="${course.getCourseName()}" th:utext="${course.getCourseName()}" th:selected="${course.getCourseName()}"/>
	</select>	
	</div>
	<br>
	
	<input type="text" id="input" onkeyup="" placeholder="Search By Student ID/Student Name" title="search">
	<p th:text="'Total Records: ' + ${studentgrade.size()}">Total Records</p>
	<table id="students">
	<tr>
			<!-- <th>Student ID</th> -->
			<th>Student ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Grade</th>
			<th>Academic Records</th>
	</tr>
	 <tr th:each="student : ${studentgrade}" class="table-row">
			<!-- <td th:text=${student.key.studentId}>Student ID</td> -->
			<td th:text=${student.key.studentId}>Student ID</td>
			<td th:text=${student.key.firstName}>First Name</td>
			<td th:text=${student.key.lastName}>Last Name</td>
			<td th:text=${student.value}>Grade</td>
			<td>
   				<a href="" th:href="@{/lecturer/StudentPerformance/detail/}+${student.key.studentId}">Select</a>
   			</td>
	</tr>
	</table>
	

</body>
</html>