<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Student Performance</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>View Student Performance</h1>
	<div class="year-dropdown">
	<form>
		<label for="year">Year: </label>
		<select id='date-dropdown'>
  		</select>
  		<script>
    		let dateDropdown = document.getElementById('date-dropdown');

    		let currentYear = new Date().getFullYear();
    		let earliestYear = 2018;

    		while (currentYear >= earliestYear) {
      			let dateOption = document.createElement('option');
      			dateOption.text = currentYear;
      			dateOption.value = currentYear;
      			dateDropdown.add(dateOption);
      			currentYear -= 1;
      		}
  		</script>
	</form>
	</div>
	<br>
	
	<input type="text" id="input" onkeyup="" placeholder="Search By Student ID/Student Name" title="search">
	<p th:text="'Student ID: ' + ${id}"></p>
	<p th:text="'Student Name: ' + ${firstName} + ' ' + ${lastName}"></p>
	<p th:text="'Total Records: ' + ${size}">Total Records</p>
	<table id="courses">
	<tr>
			<!-- <th>Student ID</th> -->
			<th>Course ID</th>
			<th>Course Name</th>
			<th>Credits</th>
			<th>Grade</th>
			<th>Course Start Date</th>
	</tr>
	 <tr th:each="course : ${studentGrade}" class="table-row">
			<!-- <td th:text=${student.key.studentId}>Student ID</td> -->
			<td th:text=${course.key.courseId}>Course ID</td>
			<td th:text=${course.key.courseName}>Course Name</td>
			<td th:text=${course.key.credits}>Credits</td>
			<td th:text=${course.value}>Grade</td>
			<td th:text="${#temporals.format(course.key.courseStartDate, 'dd-MM-yyyy')}">Course Start Date</td> 
	</tr>
	</table>
	<br>
	<table id="grades" style="width:25%">
	<tr>
		<td th:text="'AY Credits:'"></td>
		<td th:text=${ayCredits}>AY Credits</td>
	</tr>
	<tr>
		<td th:text="'AY GPA:'"></td>
		<td th:text=${ayGPA}>AY GPA</td>
	</tr>
	<tr>
		<td th:text="'Cumulative Credits:'"></td>
		<td th:text=${cuCredits}>Cumulative Credits</td>
	</tr>
		<td th:text="'Cumulative GPA:'"></td>
		<td th:text=${cuGPA}>Cumulative GPA</td>
	</tr>
	</table>

</body>
</html>