<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Grades and GPA</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>
<body>
 <div class = "container">
 <div id="top_grid1">Top Grid Cell 1</div>
    <div id="top_grid2">Top Grid Cell 2</div>
    <div id="top_grid3">Top Grid Cell 3</div>
    <div id="top_grid4">Top Grid Cell 4</div>
    <nav>
        <div th:replace="fragments/student.html :: menu"></div>
    </nav> 
    <main>
<div style="display:none;" id="stId" th:text="${session.usession.studentId}"></div>
 <div th:text= "'Welcome to '+${session.usession.firstName} + ' '+ ${session.usession.lastName} "></div>
  <h1>Grades and GPA</h1>
  <div>
  <label>Year</label>
  <select th:field="${ay}">
  <option th:each="selectOption : ${ay}" th:value="${selectOption}"
  th:text="${selectOption}">
  selectedOption
  </option>
  </select>
  </div>
  <br>
<table id="recTable">
 <tr>
   <th>Course Name</th>
   <th>Credits</th>
   <th>Grade</th>
 </tr>
 <tr  id ="editable" th:each="gc: ${gradedCourse}">
   <td th:text="${gc.course.courseName}">Course Name</td>
   <td th:text="${gc.course.credits}  ">Credits</td>
   <td th:text="${gc.grade}">Grade</td>
 </tr>
</table>
<br>
<table>
 <tr>
   <td>AY Credits</td>
   <td id="ayCredits" th:text="${ayCredits}"></td>
 </tr>
 <tr>
   <td>AY GPA:</td>
   <td id="ayGPA" th:text="${ayGPA}"></td>
 </tr>
 <tr>
   <td>Cumulative Credits:</td>
   <td id="cuCredits" th:text="${cuCredits}"></td>
 </tr>
 <tr>
   <td>Cumulative GPA:</td>
   <td id="cuGPA" th:text="${cuGPA}"></td>
 </tr>
</table>
    </main>
  	<footer>Footer</footer>
  	</div>
<script>
$(document).ready(function(){
	$("select").change(function(){
	    var selectedYear = $(this).val();
	    var stId = $("#stId").text();
	    $.ajax({
			type: "Get",
			url: "/api/student/"+stId+"/"+selectedYear,
			success: function(data) {
				$('#recTable tr').not(':first').remove();
				var html = '';
				for(var i=0; i<data.gradedCourse.length; i++)
					{
					 html += '<tr><td>' + data.gradedCourse[i].courseName + '</td><td>' +data.gradedCourse[i].credits+'</td><td>'
					         + data.gradedCourse[i].grade + "</td></tr>";
					          
					}
				$('#recTable tr').first().after(html);
				
				var ayCredit = data.ayCredits;
				var cuCredit = data.cuCredits;
				var ayGPA = data.ayGPA;
				var cuGPA = data.cuGPA;
				
				$('#ayCredits').html(ayCredit);
				$('#cuCredits').html(cuCredit);
				$('#ayGPA').html(ayGPA);
				$('#cuGPA').html(cuGPA);
				console.log(data.cuGPA);
				console.log(data.ayGPA);
				console.log(data.cuCredits);
				console.log(data.ayCredits);
				console.log(data.gradedCourse.length);
			}
		
		});
	    
	    
	});
});

</script>
</body>
</html>