<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Courses</title>
<!-- <link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	integrity="sha384-MCw98/SFnGE8fJT3GXwE0ngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
 <div class = "container">
    <div id="top_grid1">Top Grid Cell 1</div>
    <div id="top_grid2">Top Grid Cell 2</div>
    <div id="top_grid3">Top Grid Cell 3</div>
    <div id="top_grid4">Top Grid Cell 4</div>
    <nav>
        <div th:replace="fragments/student.html :: menu"></div>
    </nav> 
    <main>
    <div style="display:none;" id="stId" th:text="${session.usession.studentId}"></div>
 <div th:text= "'Welcome to '+${session.usession.firstName} + ' '+ ${session.usession.lastName} "></div>
    
    <h1>View Courses</h1>
<table class="table">
 <tr>
   <th>Course Name</th>
   <th>Lecture Name</th>
   <th>Credits</th>
   <th>Course Description</th>
 </tr>
 <tr th:each="sc: ${listStudentCourses}">
   <td th:text="${sc.getCourse().getCourseName()}">Course Name</td>
   <td th:text="${sc.getCourse().getLecturer().getFirstName()} +' '+ ${sc.getCourse().getLecturer().getLastName()}  ">Lecture Name</td>
   <td th:text="${sc.getCourse().getCredits()}">Credits</td>
   <td th:text="${sc.getCourse().getDescription()}">Course Description</td> 
 </tr>
</table>

<div th:if = "${totalPages > 1}">
	<div>
		<div>
			Total Records: [[${totalItems}]]
		</div>	
		<div>
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				<a th:if="${currentPage != i}" th:href="@{'/student/list/' + ${i}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
			</span>
		</div>	
	</div>
</div>
    
    </main>
  	<footer>Footer</footer>
</div>
</body>
</html>