body{
  overflow: hidden;
}

html, body {
  position: relative;
  background: #FFF ;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274c5e;
  font-family: 'Roboto', sans-serif;
}

.Container {
  text-align: center;
  position: relative;
}

.MainTitle {
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.MainDescription {
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: lighter;
}

.Icon {
  width: 10rem;
  height: 10rem;
  fill: #089EF2;

} 
.button {
  padding: 5px 20px;
  border-radius: 4px;
  color: #FFF;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  background: #089EF2;
}
.button:hover{
  color: #fff;
  background: rgb(90, 92, 108);
}