:root {
  --main-radius: 3px;
  --main-padding: 5px;
}

.button-logout {
	background: #FFF;
  padding: 2px 10px;
  border-radius: 4px;
  color: #5A5C6C;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  margin-left:200px
}
.button-logout:hover{
	background: #5A5C6C;
  color: #fff;
  }
  
.button {
	background: #089EF2;
  padding: 2px 10px;
  border-radius: 4px;
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  display: inline;
}
.bt{
	display: inline;
}
.button:hover{
	background: rgb(90, 92, 108);
  color: #fff;
}
.button.right{
	float: right;
}
.button-menu {
	background:#0B3696;
  padding: 8px 25px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px
}
.button-menu:hover{
	background: rgb(90, 92, 108);
  color: #fff;
}

.container{
  display:grid;
  height: 100vh;
  max-width: 1330px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 0.15fr 0.35fr 0.35fr 3fr 0.05fr; 
  grid-template-areas:
 	"heading heading heading heading"
    "top_grid1 top_grid2 top_grid3 top_grid4"
    "nav nav nav nav"
    "page-title page-title page-title page-title"
    "main main main main"
    "footer footer footer footer";
  grid-gap: 0.3rem;
}
#top_grid1 {
  background: #FFF;
  grid-area: top_grid1;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

#top_grid2 {
  background: #FFF;
  grid-area: top_grid2;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

#top_grid3{
  background: #FFF;
  grid-area: top_grid3;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

#top_grid4 {
  background: #FFF;
  grid-area: top_grid4;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
  float:right;
}
nav {
  background: #FFF;
  grid-area: nav;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}
main {
  background: #ECF0F1;
  grid-area: main;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
}

footer{
  background: #089EF2;
  color: #FFF;
  grid-area: footer;
  border-radius:var(--main-radius);
  text-align:center;
}

heading{
  background: rgb(255, 255, 255);
  color: #FFF;
  grid-area: heading;
}

page-title{
  background: #FFF;
  color: #0B3696;
  grid-area: page-title;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
  text-align:left;
  font-size:26px;
  font-weight:bold;
}

.body {
	font-family: 'Roboto', sans-serif;
}

.table th {
  background-color: #0B3696;
  color: white;
}

.table2 {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 25%;
}

.table2 td  {
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0B3696;
  color: white;
  border: 1px solid #ddd;
  padding: 5px;
  font-weight:bold;

}

.table2 td:nth-child(even) {
	background-color: #ECF0F1;
    color: #000000;
    font-weight:normal;

}

.h4{
  font-weight:bold;
  color: #0B3696;
}
.h5{
  font-weight:bold;
  color: #0B3696;
}

.sub-heading{
  font-weight:bold;
  color: #0B3696;
}
.well {
	  width: 50%;
	  background-color:#ECF0F1;
	  border: 0;
	}
	
@media only screen and (max-width: 550px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr .08fr 0.08fr 0.08fr 0.08fr 0.35fr 0.35fr 3fr 0.05fr;
    grid-template-areas:
      "heading"
      "top_grid1"
      "top_grid2"
      "top_grid3"
      "top_grid4"
      "nav"
      "page-title"
      "main"
      "footer";
      
  }
}