:root {
  --main-radius: 3px;
  --main-padding: 5px;
}

.body {
	font-family: 'Roboto', sans-serif;
}
     
.container{
  display:grid;
  height: 100vh;
  max-width: 1326px;
  grid-template-columns: 1.4fr 1fr 0fr 1.6fr;
  grid-template-rows: 0.15fr 4fr 3.5px;  
  grid-template-areas:
 	"heading heading heading heading"
    "top_grid1 top_grid2 top_grid3 top_grid4"
    "footer footer footer footer";
  grid-gap: 0.3rem;
}

footer{
  background: #089EF2;
  color: #FFF;
  grid-area: footer;
  border-radius:var(--main-radius);
  text-align:center;
}  
.banner {
  background: rgb(255, 255, 255);
  color: #FFF;
  grid-area: heading;
  }
  
#top_grid1 { 
  grid-area: top_grid1;   
  background: #F5F5F5;
  border-radius:var(--main-radius);
  padding:var(--main-padding);  
  }
  
#top_grid2 { 
  grid-area: top_grid2; 
  background: #F5F5F5;
  border-radius:var(--main-radius);
  padding: 1.2em;
  }

#top_grid3 { 
  grid-area: top_grid3; 
  background: #FFF;
  border-radius:var(--main-radius);
  padding:0;
  } 

#top_grid4 { 
  grid-area: top_grid4; 
  background: #F5F5F5;
  border-radius:var(--main-radius);
  padding:var(--main-padding);
  } 
 
h2 {
  color: #0B3696;
  font-size:32px;
  font-weight:bold;;
	}

 p {
	color: #089EF2;
  font-size:18px;
}
   
@media only screen and (max-width: 550px) {
  .container{
   grid-template-rows: 0.15fr 4fr 3.5px;  
   grid-template-columns: 1.4fr 1fr 0fr 1.6fr;
   grid-template-areas: 
      "heading"
      "top_grid1"
      "top_grid2"
      "top_grid3"
      "top_grid4"
      "footer";
 }
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url(../img/Login.png);
  background-size: cover;
  background-position: center;
}

.login-heading {
  color: #0B3696;
  font-size:32px;
  font-weight:bold;;
}

.button {
  padding: 5px 20px;
  border-radius: 4px;
  color: #FFF;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  background: #089EF2;
}
.button:hover{
  color: #fff;
  background: rgb(90, 92, 108);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.col-md-9 col-lg-8 mx-auto {
	
}


